@model StudentCreateViewModel
@{
    ViewData["Title"] = "Add a Student";
    Layout = "_Layout";
}
<ol class="breadcrumb pt-2">
    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
    <li class="breadcrumb-item"><a href="/Student/Index">Students</a></li>
    <li class="breadcrumb-item active">Add a Student</li>
</ol>
<div class="card-body pt-0">
    <div class="card-title">
        <h2 class="anchor fw-bolder fs-3 mb-2" id="server-side">
            Add a Student
        </h2>
    </div>
    <form method="post" asp-controller="Student" asp-action="Create">
        @Html.AntiForgeryToken()
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <div class="row form-group">
            <div class="col-md-12 mb-2">
                <input class="form-control form-control-solid required" asp-for="Name" type="text" placeholder="Name">
            </div>

            <div class="col-md-12 mb-2">
                <input class="form-control form-control-solid required" asp-for="Cnic" type="text" placeholder="Cnic">
            </div>
            <div>
                <button type="submit" style="float:left" class="btn btn-secondary col-sm-1">Add</button>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(function() {
            $("#studentpage").addClass("active");
            function loadData() {
                $.ajax({
                    url: "/Student/GetData",
                    type: "Get",
                    data: {
                        cnic: $("#Cnic").val(),
                        name: $("#Name").val(),
                    },
                    success: function(response) {
                        $('#student-grid').html(response);
                    },
                    error: function() {
                        $('#student-grid').html("No Data Available");
                    }
                })
            }

            $("#search-record").on("click", function(e) {
                e.preventDefault();
                loadData();
            });

            $(document).delegate(".js-edit", "click", function(e) {
                let btn = $(this);
                let id = btn.attr('data-id');


                alert("edit btn clicked" + " " + id);
            });

            $(document).delegate(".js-delete", "click", function(e) {
                let btn = $(this);
                let id = btn.attr('data-id');


                alert("delete btn clicked" + " " + id);
            });

            $(document).delegate(".js-detail", "click", function(e) {
                let btn = $(this);

                let id = btn.attr('data-id');

                alert("detail btn clicked" + " " + id);
            });

        });
    </script>
}