@model Student
@{
    ViewData["Title"] = "Students";
    Layout = "_Layout";
}
<ol class="breadcrumb pt-2">
    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
    <li class="breadcrumb-item active">Student</li>
</ol>

<div class="row">
    <input class="form-control" type="text" placeholder="Enter any value to search records" />
    <hr />
    <button class="btn btn-success col-sm-1">Search</button>
</div>

<div id="student-grid">
</div>
@section Scripts{
    <script>
        $(function() {
              $("#studentpage").addClass("active");

            $.ajax({
                url: "/Student/GetData",
                type: "Get",
                success: function(response) {
                    $('#student-grid').html(response);
                },
                error: function() {
                    $('#student-grid').html("No Data Available");
                }
            });

             $(document).delegate(".js-edit", "click", function (e) {
                let btn = $(this);
                let id = btn.attr('data-id');


                 alert("edit btn clicked" + " " + id);
            });

             $(document).delegate(".js-delete", "click", function (e) {
                let btn = $(this);
                let id = btn.attr('data-id');


                 alert("delete btn clicked" + " " + id);
            });

             $(document).delegate(".js-detail", "click", function (e) {
                let btn = $(this);

                 let id = btn.attr('data-id');

                 alert("detail btn clicked" + " " +  id);
            });

        });
    </script>
}