@model StudentIndexViewModel
@{
    ViewData["Title"] = "Students";
    Layout = "_Layout";
}
<ol class="breadcrumb pt-2">
    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
    <li class="breadcrumb-item active">Student</li>
</ol>
<div class="card-body pt-0">
    <div class="card-title">
        <h2 class="anchor fw-bolder fs-3 mb-2" id="server-side">
            Searching
        </h2>
    </div>
    <div class="row form-group">
        <div class="col-md-6 mb-2">
            <input class="form-control form-control-solid" asp-for="Name" type="text" placeholder="Name">
        </div>

        <div class="col-md-6 mb-2">
            <input class="form-control form-control-solid" asp-for="Cnic" type="text" placeholder="Cnic">
        </div>
        <div>
            <button style="float:left" id="search-record" class="btn btn-secondary col-sm-1">Search</button>
        </div>
    </div>
</div>
<div class="card-body pt-0">
    <div class="card-title">
        <a asp-controller="Student" asp-action="Create" style="float:right" class="btn btn-success col-sm-2">Add Record</a>
        <h2 class="anchor fw-bolder fs-3 mb-2" id="server-side">Student Data</h2>
    </div>
    <div id="student-grid">
    </div>
</div>
@section Scripts{
    <script>
        $(function() {
            $("#studentpage").addClass("active");
            function loadData() {
                $.ajax({
                    url: "/Student/GetData",
                    type: "Get",
                    data: {
                        cnic: $("#Cnic").val(),
                        name: $("#Name").val(),
                    },
                    success: function(response) {
                        $('#student-grid').html(response);
                    },
                    error: function() {
                        $('#student-grid').html("No Data Available");
                    }
                })
            }

            $("#search-record").on("click", function(e) {
                e.preventDefault();
                loadData();
            });

            $(document).delegate(".js-edit", "click", function(e) {
                let btn = $(this);
                let id = btn.attr('data-id');


                alert("edit btn clicked" + " " + id);
            });

            $(document).delegate(".js-delete", "click", function(e) {
                let btn = $(this);
                let id = btn.attr('data-id');
                console.log(id);

                $.ajax({
                    url: "/Student/Delete",
                    type: "DELETE",
                    data: { id: id },
                    success: function(response) {
                        toastr.success("Student deleted successfully!");
                    },
                    error: function() {
                        toastr.error("Student can't be deleted!");
                    }
                });
            });

            $(document).delegate(".js-detail", "click", function(e) {
                let btn = $(this);

                let id = btn.attr('data-id');

                alert("detail btn clicked" + " " + id);
            });

        });
    </script>
}